@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  font-family: 'JetBrains Mono', monospace;
}
.container{
  max-width: 1000px;
  margin: auto;
}
@layer base {

  .container{
    @apply px-2 md:px-0
  }
 form {
   @apply grid-cols-1 grid gap-2
 }
  form label{
    @apply text-2xl mb-2 font-bold

  }
  form input, textarea{
    @apply bg-transparent border border-neutral-800 p-2 rounded-md
  }

}